
    <section class="advertisement">
        <div class="container page-advertisement ">
            <div class="cont-advert">
                <h2 class="visually-hidden">Title advertisement</h2>
                <p class="text-advertisement">Choose <span class="span-advertisement">your story</span>, making every moment
                    unique. Time is your style, and we reveal it.</p>
                <a href="#section-contact-us" class="btn-contact">Contact Us</a>
            </div>
        </div>
    </section>