<section class="watch">
  <div class="container">
    <h2 class="watch-title" id="catalog">Catalog</h2>
    <ul class="watch-list">
      <li class="watch-item">
        <picture class="image-watch">
          <source
            srcset="/img/fenix7-des-1x.webp 1x, /img/fenix7-des-2x.webp 2x"
            media="(min-width: 1158px)"
          />
          <source
            srcset="/img/fenix7-tab-1x.webp 1x, /img/fenix7-tab-2x.webp 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/fenix7-mob-1x.webp 1x, /img/fenix7-mob-2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img src="/img/fenix7-mob-1x.webp" alt="black watch" />
        </picture>

        <div class="watch-text-pad">
          <h3 class="watch-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="watch-item-text">€500</p>
        </div>
      </li>
      <li class="watch-item">
        <picture class="image-watch">
          <source
            srcset="
              /img/garminmarq-des-1x.webp 1x,
              /img/garminmarq-des-2x.webp 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /img/garminmarq-tab-1x.webp 1x,
              /img/garminmarq-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/garminmarq-mob-1x.webp 1x,
              /img/garminmarq-mob-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/garminmarq-mob-1x.webp" alt="black watch" />
        </picture>

        <div class="watch-text-pad">
          <h3 class="watch-subtitle">Garmin Marq Athlete</h3>
          <p class="watch-item-text">€450</p>
        </div>
      </li>
      <li class="watch-item">
        <picture class="image-watch">
          <source
            srcset="
              /img/garmindescent-des-1x.webp 1x,
              /img/garmindescent-des-2x.webp 2x
            "
            media="(min-width: 1158px)"
          />
          <source
            srcset="
              /img/garmindescent-tab-1x.webp 1x,
              /img/garmindescent-tab-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/garmindescent-mob-1x.webp 1x,
              /img/garmindescent-mob-2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/img/garmindescent-mob-1x.webp" alt="black watch" />
        </picture>

        <div class="watch-text-pad">
          <h3 class="watch-subtitle">Garmin Descent MK1</h3>
          <p class="watch-item-text">€680</p>
        </div>
      </li>
      <li class="watch-item">
        <picture class="image-watch">
          <source
            srcset="/img/garmind2-des-1x.webp 1x, /img/garmind2-des-2x.webp 2x"
            media="(min-width: 1158px)"
          />
          <source
            srcset="/img/garmind2-tab-1x.webp 1x, /img/garmind2-tab-2x.webp 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/garmind2-mob-1x.webp 1x, /img/garmind2-mob-2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img src="/img/garmind2-mob-1x.webp" alt="black watch" />
        </picture>

        <div class="watch-text-pad">
          <h3 class="watch-subtitle">Garmin D2 Delta PX</h3>
          <p class="watch-item-text">€380</p>
        </div>
      </li>
      <li class="watch-item-h">
        <picture class="image-watch">
          <source
            srcset="/img/fenix6-des-1x.webp 1x, /img/fenix6-des-2x.webp 2x"
            media="(min-width: 1158px)"
          />
          <source
            srcset="/img/fenix6-tab-1x.webp 1x, /img/fenix6-tab-2x.webp 2x"
            media="(min-width: 768px)"
          />
          <img src="/img/fenix6-tab-1x.webp" alt="black watch" />
        </picture>

        <div class="watch-text-pad">
          <h3 class="watch-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="watch-item-text">€400</p>
        </div>
      </li>
      <li class="watch-item-h">
        <picture class="image-watch">
          <source
            srcset="/img/tube-des-1x.webp 1x, /img/tube-des-2x.webp 2x"
            media="(min-width: 1158px)"
          />
          <source
            srcset="/img/tube-tab-1x.webp 1x, /img/tube-tab-2x.webp 2x"
            media="(min-width: 768px)"
          />
          <img src="/img/tube-tab-1x.webp" alt="black watch" />
        </picture>
        <div class="watch-text-pad">
          <h3 class="watch-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="watch-item-text">€395</p>
        </div>
      </li>
      <li class="watch-item-b">
        <button type="button" class="watch-btn">Order Service</button>
      </li>
    </ul>
  </div>
</section>
