<header class="page-header">
    <div class="container">
       <nav class="header-nav">
        <a class="header-logo" href="./header.html">watchcharm</a>
         <ul class="header-list">
           <li class="list-item"><a href="" class="nav-link active">Home</a></li>
           <li class="list-item"><a href="" class="nav-link">About Us</a></li>
           <li class="list-item"><a href="#catalog" class="nav-link">Catalog</a></li>
           <li class="list-item"><a href="" class="nav-link">Sale</a></li>
           <li class="list-item"><a href="" class="nav-link">Reviews</a></li>
           <li class="list-item"><a href="" class="nav-link">Contact Us</a></li>
         </ul>
         <address>
            <ul class="svg-list">
               <li><a target="_blank" href="https://www.facebook.com/goITclub/" class="svg-icons"><svg class="svg-icon" width="20" height="20"><use href="./img/social.svg#icon-facebook"></use></svg></a></li>
               <li><a target="_blank" href="https://www.instagram.com/goitclub/" class="svg-icons"><svg class="svg-icon" width="20" height="20"><use href="./img/social.svg#icon-instagram"></use></svg></a></li>
               <li><a target="_blank" href="https://www.youtube.com/c/GoIT " class="svg-icons"><svg class="svg-icon" width="20" height="20"><use href="./img/social.svg#icon-youtube"></use></svg></a></li>
            </ul>
         </address> 
         <button type="button" class="menu-btn"><svg class="burger-icon" width="34" height="34"><use href="./img/social.svg#icon-burgerbtn1" data-menu-open></use></svg></button>
         <div class="mobile-menu" data-menu>
            <div class="mobile-menu-container">
              <button class="mobile-menu-close" data-menu-close><svg class="menu-close-btn" width="34" height="34"><use href="./img/social.svg#icon-Vector"></use></svg></button>
              <nav class="mobile-menu-nav">
                <ul class="mobile-ul-menu">
                  <li class="mobile-list-item"><a class="mobile-link active" href="./header.html">Home</a></li>
                  <li class="mobile-list-item"><a class="mobile-link" href="#about-us">About Us</a></li>
                  <li class="mobile-list-item"><a class="mobile-link" href="#catalog">Catalog</a></li>
                  <li class="mobile-list-item"><a class="mobile-link" href="#sale">Sale</a></li>
                  <li class="mobile-list-item"><a class="mobile-link" href="#reviews">Reviews</a></li>
                  <li class="mobile-list-item"><a class="mobile-link" href="#contact-us">Contact Us</a></li>
                </ul>
              </nav>
              <address class="mobile-address">
               <ul class="menu-list">
                  <li><a target="_blank" href="https://www.facebook.com/goITclub/" class="menu-link"><svg class="menu-svg" width="18" height="18"><use href="./img/social.svg#icon-facebook"></use></svg></a></li>
                  <li><a target="_blank" href="https://www.instagram.com/goitclub/" class="menu-link"><svg class="menu-svg" width="18" height="18"><use href="./img/social.svg#icon-instagram"></use></svg></a></li>
                  <li><a target="_blank" href="https://www.youtube.com/c/GoIT " class="menu-link"><svg class="menu-svg" width="18" height="18"><use href="./img/social.svg#icon-youtube"></use></svg></a></li>
               </ul>
              </address>
            </div>
          </div>
      </nav>
    </div>
    <script src="/src/main.js"></script>
    </header>