<section class="hero">
    <div class="container hero-container">
        <div class="hero-title-text">
            <h1 class="hero-title">Welcome to our <span class="hero-title-collection">collection</span> of premium watches</h1>
            <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>
        </div>

        <div class="hero-foto-people">
            <ul class="hero-foto-list">
                <li class="item-foto-people">
                     <picture >
                        <source srcset="/img/Victoria-Romashenko-des-1x.webp 1x, /img/Victoria-Romashenko-des-2x.webp 2x">
                        <source srcset="/img/Victoria-Romashenko-tab-1x.webp 1x, /img/Victoria-Romashenko-tab-2x.webp 2x">
                        <source srcset="/img/Victoria-Romashenko-mob-1x.webp 1x, /img/Victoria-Romashenko-mob-2x.webp 2x">
                         <img class="img-foto-people"
                         src="/img/Victoria-Romashenko-mob-1x.webp" 
                         alt="Victoria-Romashenko" 
                         width="44">
                     </picture>
                </li>
                <li class="item-foto-people people2">
                     <picture >
                        <source srcset="/img/John-Wax-des-1x.webp 1x, /img/John-Wax-des-2x.webp 2x">
                        <source srcset="/img/John-Wax-tab-1x.webp 1x, /img/John-Wax-tab-2x.webp 2x">
                        <source srcset="/img/John-Wax-mob-1x.webp 1x, /img/John-Wax-mob-2x.webp 2x">
                         <img class="img-foto-people"
                         src="/img/John-Wax-mob-1x.webp" 
                         alt="John-Wax" 
                         width="44">
                     </picture>
                </li>
                <li class="item-foto-people people3">
                     <picture >
                        <source srcset="/img/Anastasia-Trachuk-des-1x.webp 1x, /img/Anastasia-Trachuk-des-2x.webp 2x">
                        <source srcset="/img/Anastasia-Trachuk-tab-1x.webp 1x, /img/Anastasia-Trachuk-tab-2x.webp 2x">
                        <source srcset="/img/Anastasia-Trachuk-mob-1x.webp 1x, /img/Anastasia-Trachuk-mob-2x.webp 2x">
                         <img class="img-foto-people"
                          src="/img/Anastasia-Trachuk-mob-1x.webp"
                          alt="Anastasia-Trachuk" 
                          width="44">
                     </picture>
                    
                </li>
            </ul>
            <a class="hero-scroll" href="#footer">Scroll down</a>
            
        </div>
        <div class="hero-watch">            
                <picture  class="hero-img">
                    <source srcset="/img/hero-watch-des-1x.webp 1x, /img/hero-watch-des-2x.webp 2x">
                    <source srcset="/img/hero-watcht-tab-1x.webp 1x, /img/hero-watch-tab-2x.webp 2x">
                    <source srcset="/img/hero-watch-mob-1x.webp 1x, /img/hero-watch-mob-2x.webp 2x">
                    <img
                    src="/img/hero-watch-mob-1x.webp" 
                    alt="hero-watch"
                    width="335">
                </picture> 
        </div>
    </div>
</section>