<section class="hero">
    <div class="container">
        <h1 class="hero-title">Welcome to our <span class="hero-title-collection">collection</span> of premium watches</h1>
        <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.</p>

        <div class="hero-foto-people">
            <ul class="list-foto-people">
                <li class="item-foto-people">
                     <img src="/img/Victoria-Romashenko-mob-1x.webp" 
                     alt="Victoria-Romashenko" 
                     width="44" 
                     height="44">
                </li>
                <li class="item-foto-people">
                     <img 
                     src="/img/John-Wax-mob-1x.webp" 
                     alt="John-Wax" 
                     width="44" 
                     height="44">
                </li>
                <li class="item-foto-people">
                     <img
                      src="/img/Anastasia-Trachuk-mob-1x.webp"
                      alt="Anastasia-Trachuk" 
                      width="44" 
                      height="44">
                </li>
            </ul>
            <a class="hero-scroll">Scroll down</a>
            <div class="hero-watch">
                <img 
                src="/img/hero-watch-mob-1x.webp" 
                alt="hero-watch"
                width="335"
                height="366">
            </div>
        </div>
    </div>
</section>