<section class="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-content">
      <ul class="sale-list">
        <li class="sale-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="/img/desk-clock1.webp 1x, /img/desk-clock1-2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/tab-clock1.webp 1x, /img/tab-clock1-2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/mob-clock1.webp 1x, /img/mob-clock1-2x.webp 2x"
            />
            <img
              src="/img/desk-clock1.webp"
              alt="Photo of clock"
              width="96"
              height="100"
            />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="/img/desk-clock2.webp 1x, /img/desk-clock2-2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/tab-clock2.webp 1x, /img/tab-clock2-2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/mob-clock2.webp 1x, /img/mob-clock2-2x.webp 2x"
            />
            <img
              src="/img/desk-clock2.webp"
              alt="Photo of clock"
              width="96"
              height="100"
            />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="/img/desk-clock3.webp 1x, /img/desk-clock3-2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/tab-clock3.webp 1x, /img/tab-clock3-2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/mob-clock3.webp 1x, /img/mob-clock3-2x.webp 2x"
            />
            <img
              src="/img/desk-clock3.webp"
              alt="Photo of clock"
              width="96"
              height="100"
            />
          </picture>
        </li>
        <li class="sale-item">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="/img/desk-clock4.webp 1x, /img/desk-clock4-2x.webp 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/img/tab-clock4.webp 1x, /img/tab-clock4-2x.webp 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="/img/mob-clock4.webp 1x, /img/mob-clock4-2x.webp 2x"
            />
            <img
              src="/img/desk-clock4.webp"
              alt="Photo of clock"
              width="96"
              height="100"
            />
          </picture>
        </li>
      </ul>

      <div class="main-clock">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="/img/desk-clock5.webp 1x, /img/desk-clock5-2x.webp 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="/img/tab-clock5.webp 1x, /img/tab-clock5-2x.webp 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="/img/mob-clock5.webp 1x, /img/mob-clock5-2x.webp 2x"
          />
          <img
            src="/img/desk-clock5.webp"
            alt="Photo of clock"
            width="328"
            height="398"
          />
        </picture>
      </div>

      <div class="product-info">
        <h3 class="product-name">MARQ® Commander (Gen 2) - Carbon Edition</h3>
        <p class="product-model">Product tag: 706587</p>
        <div class="product-price">
          <p class="new-product-price">€1500</p>
          <p class="old-product-price">€3000</p>
        </div>
        <p class="product-description">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="product-list">
          <li class="product-item">Fused carbon fiber</li>
          <li class="product-item">Grade-5 Titanuim</li>
          <li class="product-item">Athlete</li>
          <li class="product-item">Golfer</li>
          <li class="product-item">Commander</li>
          <li class="product-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
