
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Gilroy", sans-serif;
  box-sizing: border-box;
  background-color: #fff;
  font-family: inherit;
	color: currentColor;
  color: #0c0c0c;  
}

input {
	font-family: inherit;
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

