input {
    font-family: inherit;
    outline: transparent;
    font-size: 16px;
}

.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-us {
    padding-top: 30px;
    padding-bottom: 60px;
}

/*============================375==================================*/
.contact-us {
    padding-top: 30px;
    padding-bottom: 60px;
}

.heading-contactus {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.text-contact-us {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
}

.contact-form-div {
    display: flex;
    flex-direction: column;
    gap: 28px;
    background: #f3f3f3;
    border-radius: 30px;
    padding: 48px 28px;
    width: 335px;
    height: 512px;

}

.contactus-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.textarea-class {
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    width: 279px;
    height: 84px;
    resize: none;
    background-color: #f3f3f3;
    outline: transparent;
    padding-left: 14px;
    padding-top: 12px;
    overflow: hidden;
}

.person-data {
    width: 100%;
    height: 42px;
    border: 1px solid rgba(12, 12, 12, 0.15);
    border-radius: 12px;
    width: 279px;
    height: 42px;
    background-color: #f3f3f3;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    padding-left: 14px;

}

input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #0c0c0c;
    padding: 12px 136px 12px 0;
}

textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #0c0c0c;
    padding: 0 136px 54px 0;

}

.name-div {
    width: 279px;
    height: 42px;


}

.person-data:focus,
.textarea-class:focus,
.person-data:valid {
    border: 1px solid #3350e9;
}

.send-button {
    background-color: #3350e9;
    width: 134px;
    height: 42px;
    border-radius: 16px;
    outline: transparent;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;
    border: inherit;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.contactus-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.send-button:hover,
.send-button:focus {
    background-color: #1f3cd4;
}


/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .contact-us {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .container {
        max-width: 768px;
        padding: 0 32px;
    }

    .heading-contactus {
        font-weight: 600;
        font-size: 48px;
        line-height: 0.91667;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        margin-bottom: 40px;
    }

    .text-contact-us {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.7);
    }

    .contact-form-div {
        border-radius: 50px;
        padding: 50px 122px;
        width: 704px;
        height: 556px;

    }

    .person-data {
        width: 460px;
        height: 52px;
    }

    .textarea-class {
        width: 460px;
        height: 90px
    }

    .send-button {
        padding: 17px 63px;
        width: 160px;
        height: 52px;
    }

    .contactus-wrapper {
        gap: 32px;
    }


}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .contact-us {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .container {
        max-width: 1280px;
        padding: 0 65px;
    }

    .contact-form-div {
        width: 580px;
        height: 556px;
        padding: 50px 60px;
    }

    .contactus-wrapper {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }





}